@import '../../variables.scss';

.wp-block-mmm35-button {
  background-color: $background;
  color: $foreground;
  border: 1px solid $foreground;
  border-radius: 22px;
  height: 44px;
  padding: 4px 22px;
  // Windows' High Contrast mode will show this outline, but not the box-shadow.
  outline: 2px solid transparent;
  outline-offset: -2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-timing-function: ease;
  transition-duration: 0.1s;
  transition-property: background, color, border;

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: $background;
    background-color: $accent;
    border: 1px solid $accent;
  }
}
