/build
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentynineteen
/wp-content/themes/twentytwenty
/wp-content/plugins
/wp-content/languages
/wp-content/upgrade
/wp-content/uploads
/*.php
/*.html
/*.txt

node_modules
