$wp-admin-bar-breakpoint: 782px;
$wp-columns-breakpoint: 600px;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1349px;
$desktop-min: 1350px;

$background: white;
$foreground: black;
$accent: #3497D4;

$ci-green: #a5ae06;
$ci-lightblue: #359bd7;
$ci-darkblue: #1a587a;

$grey-1: #FAFAFA;
$grey-2: rgba(0, 0, 0, 0.29);

$head-height: 3.8rem;
$hero-height: 80vh;
