$wp-admin-bar-breakpoint: 782px;
$wp-columns-breakpoint: 600px;

$mobile-max: 1023px;
$tablet-min: 1024px;
$tablet-max: 1349px;
$desktop-min: 1350px;

$max-page-width: 860px;

$background: white;
$foreground: black;

$ci-green: #a3ac1a;
$ci-lightblue: #2398d6;
$ci-darkblue: #165a7b;

$grey-1: #FAFAFA;
$grey-2: rgba(0, 0, 0, 0.29);

$head-height: 3.65rem;
$hero-height: 70vh;
$hero-height-home: calc(100vh - #{$head-height});
