@import '../../variables.scss';

.wp-block-mmm35-media-text {
  background-color: $grey-1;
  display: flex;

  &__media {
    flex-basis: 40%;
    flex-grow: 1;
    max-width: 50%;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & > .block-editor-inner-blocks {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .block-editor-inner-blocks,
  .editor-media-container__resizer {
    align-self: center;
  }

  &.has-media-on-the-top {
    flex-direction: column;
    align-items: stretch;

    & > .wp-block-mmm35-media-text__media,
    & > .block-editor-inner-blocks {
      width: 100%;
      max-width: unset;
    }
  }

  &.has-media-on-the-right {
    & > .wp-block-mmm35-media-text__media {
      order: 2;
    }
    & > .block-editor-inner-blocks {
      order: 1;
    }
  }

  & > .block-editor-inner-blocks {
    word-break: break-word;
    grid-column: 2;
    grid-row: 1;
    text-align: initial;
    padding: 0 8% 0 8%;
  }

  @media (max-width: $tablet-min) {
    flex-direction: column;

    & > .block-editor-inner-blocks,
    &__media {
      max-width: unset;
      align-items: stretch;
    }

    &.has-media-on-the-right {
      & > .wp-block-mmm35-media-text__media {
        order: 1;
      }
      & > .block-editor-inner-blocks {
        order: 2;
      }
    }
  }
}
