@import '../../../../../variables.scss';

.wp-block-mmm35-media-text {
  background-color: $grey-1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @at-root .wp-block-column > & {
    height: 100%;
    margin-top: 0rem;
  }

  &__media {
    flex-basis: 40%;
    max-width: unset;
    margin: 0;

    &-link,
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 2rem;
    flex-basis: 50%;
    flex-grow: 1;
    align-self: center;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  & > .block-editor-inner-blocks {
    word-break: break-word;
    grid-column: 2;
    grid-row: 1;
    padding: 0 8% 0 8%;
  }

  @media (min-width: $tablet-min) {
    flex-direction: row;

    &.has-media-on-the-right {
      & > .wp-block-mmm35-media-text__media {
        order: 1;
      }
      & > .block-editor-inner-blocks {
        order: 2;
      }
    }

    &__content {
      padding: 3rem;
    }

    &:not(.has-media-on-the-top) &__media {
      max-width: 50%;
    }

    &.has-media-on-the-top {
      flex-direction: column;

      .wp-block-mmm35-media-text__media {
        flex-basis: 14rem;
        max-height: 14rem;
        min-height: 14rem;
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    &.has-media-on-the-right {
      & > .wp-block-mmm35-media-text__media {
        order: 2;
      }
      & > .wp-block-mmm35-media-text__content {
        order: 1;
      }
    }
  }

  @media (min-width: $desktop-min) {
    &__content {
      padding: 5rem;
    }
  }
}
