.mmm35-ctas {
  margin-top: 2rem;

  &__cta {
    text-shadow: none;
    background-color: $ci-green;
    border: 1px solid $ci-green;
    color: $background;
    text-decoration: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem 2rem;
    font-weight: normal;
    border-radius: 32px;
    // Windows' High Contrast mode will show this outline, but not the box-shadow.
    outline: 2px solid transparent;
    outline-offset: -2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-property: background-color;

    &:hover {
      background-color: darken($ci-green, 5%);
    }
  }
}
