.wp-block-image,
.mmm35-figure {
  position: relative;
}

.wp-block-image > figcaption,
.mmm35-figure__caption {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.25rem;
  // background: linear-gradient(to right, transparent 0%, white 30%);
  background-color: $grey-2;
  color: $background;
  font-size: 0.5rem;
  margin: 0;

  &:empty {
    display: none;
  }
}
