.mmm35-hero {
  margin: 0 auto;
  width: calc( 100% - 2rem );
  max-width: calc(1440px - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  padding: 2rem;

  &_overview {
    // We only do this on overview pages, because they have a search form
    @media screen and (min-width: $desktop-min) {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0;
    padding: 0 2rem;
    text-align: center;

    &_frontpage {
      font-size: 2rem;
      line-height: 3rem;
      background-color: rgba($ci-darkblue, 0.4);
      padding: 1rem;
      border-radius: 2rem;
    }

    @media screen and (min-width: $tablet-min) {
      font-size: 3.5rem;
      line-height: 4rem;

      &_frontpage {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &-dot {
      line-height: inherit;

      &_green { color: $ci-green; }
      &_lightblue { color: $ci-lightblue; }
      &_darkblue { color: $ci-darkblue; }
    }

    &-icon {
      height: 40px;
    }
  }

  &__figure {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    transition: opacity 0.4s ease;

    &_hidden {
      opacity: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_has-image {
    width: 100vw;
    max-width: 100vw;
    height: $hero-height;
    justify-content: center;

    .mmm35-hero__title {
      color: $background;
      text-shadow: 0px 0px 4px $foreground;
      z-index: 1;
    }
  }

  @at-root .home &_has-image {
    height: $hero-height-home;
  }

}

