.mmm35-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  figure {
    text-align: center;
  }

  > .wp-block-mmm35-media-text {
    width: calc(100vw - 4rem);
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 40vh;
  }
}
