.mmm35-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: $background;

  > * {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 60%;
  }

  figure {
    text-align: center;
  }
}

.mmm35-hero + .mmm35-main {
  margin-top: $hero-height;
}
