.mmm35-nav {
  background: $background;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: $head-height;
  bottom: 0;
  left: 0;
  right: 0;

  &_footer #{&}__item-link {
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    font: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
  }

  &__item {
    font-weight: normal;
    text-transform: none;
    font-size: 1.8rem;
    margin: 2rem;
    display: flex;
    color: $foreground;

    &_current {
      color: $accent;
    }
  }

  &__item-link {
    color: inherit;
  }

  @media screen and (min-width: $tablet-min) {
    position: static;
    background: transparent;
    flex-direction: row;

    &__item {
      margin: 0;
      font-weight: inherit;
      text-transform: inherit;
      font-size: inherit;
    }
  }
}
