.mmm35-post-list {
  margin-top: 2rem;

  &__title {
    flex-basis: 100%;
    flex-shrink: 0;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }

  &__item {
    flex-basis: 375px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: $grey-1;
    color: $foreground;
    text-decoration: none;
    margin: 0.5rem;
    margin: 0.5rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    > * {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    > *:first-child:not(#{&}-image) {
      margin-top: 2rem;
    }

    > *:last-child {
      margin-bottom: 2rem;
    }

    &-image {
      width: 100%;
      height: 345px;
      max-height: 345px;
      min-height: 345px;
      margin: 0;
      margin-bottom: 1rem;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-meta {
      margin-top: 0;
    }

    &-title {
      color: $accent;
      margin-top: 0;
      font-weight: 500;

      + * {
        margin-top: 0;
      }
    }
  }
}
