.mmm35-project-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;

  &__item {
    flex-basis: 375px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    color: var(--foreground);
    text-decoration: none;
    margin: 0.5rem;

    &-image {
      width: 100%;
      height: 345px;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }
  }
}
