.mmm35-search-form {
  $size: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    margin-top: -1px;

    &:first-child {
      border-top-left-radius: 0.5 * $size;
      border-bottom-left-radius: 0.5 * $size;
    }

    &:last-child {
      border-top-right-radius: 0.5 * $size;
      border-bottom-right-radius: 0.5 * $size;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 1px solid $accent;
    min-width: 3 * $size;
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 1;
    transition: width 0.1s ease;
    height: $size;
    padding: 0 15px;
    white-space: nowrap;
    
    input {
      margin-right: 0.5rem;
    }
  }

  &__submit {
    border: 1px solid $accent;
    background-color: $accent;
    flex-basis: $size;
    height: $size;
    padding: 0 0.25 * $size;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease;

    svg {
      color: $background;
    }

    &:hover {
      background-color: darken($accent, 10%);
    }
  }

  @media screen and (min-width: $tablet-min) {
    flex-wrap: nowrap;

    &__input {
      flex-shrink: 1;
    }

    > * {
      margin-top: 0;
      margin-left: -1px;
    }
  }

  @media screen and (min-width: $desktop-min) {
    margin-left: auto;
  }
}
