.mmm35-search-form {
  $size: 3rem;
  $border-radius: 4px;

  display: flex;
  align-items: center;

  &__input {
    font-size: 1.5rem;
    border: 1px solid $accent;
    border-right: 0;
    width: 5 * $size;
    transition: width 0.1s ease;
    height: $size;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 15px;

    &:invalid {
      outline: 0;
      box-shadow: none;
    }
  }

  &__submit {
    border: 1px solid $accent;
    background-color: $accent;
    width: $size;
    height: $size;
    padding: 0;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease;

    svg {
      color: $background;
    }

    &:hover {
      background-color: darken($accent, 10%);
    }
  }

  @media screen and (min-width: $tablet-min) {
    margin-left: 20px;
  }
}
